<section>
  <span class="column">Title:</span><span><%= @book.title %></span><br>
  <span class="column">Body:</span><span><%= @book.body %></span><br>
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  <span>|</span>
  <%= link_to 'Back', books_path %>
</section>